<!DOCTYPE html>
<html lang="en">
<head>
    <head>
    <meta charset="UTF-8">
    <title>Bishnu Raj KC – Portfolio</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='calculator/css/calculator.css') }}">
</head>

</head>
<body>

    <h1>Welcome to Bishnu Raj KC Portfolio</h1>

    <nav>
        <a href="/">Home</a> |
        <a href="/calculator">Calculator</a> |
        <a href="/blog">Blog</a>
    </nav>

    <p>
        This website is built using Flask and deployed on Render.
    </p>

    <p>
        Learning project for web development.
    </p>

</body>
</html>

